body{
    background-color: black;
}

.main-block{
    background-color: white;
    width: 700px;
    height: 1250px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    color:dodgerblue;
}

.about h1{
    color: black;
}
.titel{
    width: 100%;
}
.image{
    width: 20%;
    margin: -86px 0px 0px 0px;
}
.about{
    width: 70%;
    height: 100px;
    margin-left: 30%;
    margin-top: 10%;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main1{
    width: 350px;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    padding: 10px;
}

.main-block .main2{
    width: 300px;
    margin: -1061px 0px 0px 380px;
    padding: 10px;
}

